<!-- header-banner -->
<div id="header-banner" class="demo-1">
  <div class="banner-content text-center">
      <div class="banner-info">
          <h1>AM Properties</h1>
          <p>Homes for rent in Columbia, Missouri</p>
      </div><!-- / banner-info -->
  </div><!-- / banner-content -->
</div>
<!-- / header-banner -->

<!-- portfolio section -->
<section id="portfolio" class="info-box">
    <div class="container">
        <!-- portfolio filter -->
        <h5>View our rentals</h5>
        <ul class="portfolio-filter list-inline text-center">
          <p>
            FILTER BY:
          </p>
            <li><a href="#" data-group="all" class="active">ALL</a></li>
            <li><a href="#" data-group="available">AVAILABLE</a></li>
        </ul>
        <!--end portfolio filter-->
        <ul class="row portfolio list-unstyled lightbox" id="grid">
            <!-- project -->

          <% @properties.each_with_index do |property, index| %>
            <li class="col-xs-6 col-md-4 project project-link" data-groups='["<%= property.available? ? 'available' : '' %>"]'>
                  <!-- / project-link -->
                  <% if !property.images.empty? %>
                    <div href="#gallery<%= index %>" class="featured-img" style="background-image: url(<%= cl_image_path property.images.first.image.url %>)">
                      <!-- project-hover-tools -->
                      <div class="project-hover-tools center">
                          <a href="<%= property_path(property) %>" class="view-btn">
                              <i class="lnr lnr-eye"></i>
                          </a>
                          <a href="#gallery<%= index %>" class="open-gallery open-gallery-link">
                              <i class="lnr lnr-frame-expand"></i>
                          </a>
                      </div><!-- / project-hover-tools -->
                    </div>
                  <% else %>
                    <img src="http://placehold.it/350x250" class='img-responsive'>
                  <% end %>
                  <!-- / project-image -->

                  <div id="gallery<%= index %>" class="mfp-hide gallery-container">
                    <% property.images.each do |image|  %>
                    <div class="slide">
                      <%= cl_image_tag image.image %>
                    </div>
                    <% end %>
                  </div>

                  <!-- project-details -->
                <a href="<%= property_path(property) %>" style="display: block;" class="img-bg-color primary">
                  <div class="project-details">
                      <h5 class="project-title"><%= property.title %></h5>
                      <p class="skill">3 bed, 2.5 bath</p>
                  </div><!-- / project-details -->
                </a>

                  <!-- project-details -->
              </a><!-- / img-bg-color -->
            </li>
            <!-- / project -->
          <% end %>


            <!-- sizer -->
            <li class="col-xs-6 col-md-4 shuffle_sizer"></li>
        </ul> <!-- / projects -->
    </div><!-- / container -->

</section>
<!-- / portfolio section -->

<!-- / content -->
