<!-- header-banner -->
<div id="header-banner" class="demo-1 parallax" data-parallax="scroll" data-image-src="<%= asset_url 'front.jpg' %>">
  <div class="banner-content text-center">
      <div class="banner-info">
          <h1>Moore Properties</h1>
          <p>Homes for rent in Columbia, Missouri</p>
      </div><!-- / banner-info -->
  </div><!-- / banner-content -->
</div>
<!-- / header-banner -->

<!-- portfolio section -->
<section id="portfolio" class="info-box">
    <div class="container">
        <!-- portfolio filter -->
        <h5>View our rentals</h5>
        <ul class="portfolio-filter list-inline text-center">
          <p>
            FILTER BY:
          </p>
            <li><a href="#" data-group="all" class="active">ALL</a></li>
            <li><a href="#" data-group="available">AVAILABLE</a></li>
        </ul>
        <!--end portfolio filter-->
        <ul class="row portfolio list-unstyled" id="grid">
            <!-- project -->

          <% @properties.each_with_index do |property, index| %>
          <% if !property.visible? %>
            <li class="col-xs-6 col-md-4 project project-link" data-groups='["<%= property.available? ? 'available' : '' %>"]'>
                  <!-- / project-link -->
                  <% if property.images.count > 0 && !property.images.first.image.url.nil? %>
                    <div class="hidden-mobile featured-img" style="background-image: url(<%= cl_image_path property.images.first.image.url %>)">
                      <!-- project-hover-tools -->
                      <div class="project-hover-tools center">
                          <a href="<%= property_path(property) %>" class="view-btn">
                              <i class="lnr lnr-eye"></i>
                          </a>

                          <% property.images.each_with_index do |image, i|  %>
                            <% if i == 0 %>
                              <a href="<%= property.images.first.image.url %>" class="open-gallery open-gallery-link" data-lightbox="gallery<%= index %>">
                                  <i class="lnr lnr-frame-expand"></i>
                              </a>
                            <% else %>
                              <a href="<%= cl_image_path image.image %>" class="hidden" data-lightbox="gallery<%= index %>"></a>
                            <% end %>
                          <% end %>
                      </div><!-- / project-hover-tools -->
                      <div class="overlay center"></div>
                    </div>
                  <% else %>
                    <img src="http://placehold.it/350x250" class='img-responsive'>
                  <% end %>
                  <!-- / project-image -->

                  <!-- mobile swiping -->
                  <a href="<%= property_path(property) %>">
                    <div class="mobile-swiper visible-mobile">
                        <div class="swiper-wrapper">
                            <% property.images.each do |image|  %>
                              <div class="swiper-slide" style="background-image: url(<%= cl_image_path image.image %>)"></div>
                            <% end %>
                        </div>
                    </div>
                  </a>
                  <!-- / mobile swiper -->

                  <!-- project-details -->
                <a href="<%= property_path(property) %>" style="display: block;" class="img-bg-color primary">
                  <div class="project-details">
                      <h5 class="project-title"><%= property.title %></h5>
                      <p class="skill"><%= property.features %></p>
                  </div><!-- / project-details -->
                </a>

                  <!-- project-details -->
              </a><!-- / img-bg-color -->
            </li>
            <!-- / project -->
            <% end %>
          <% end %>


            <!-- sizer -->
            <li class="col-xs-6 col-md-4 shuffle_sizer"></li>
        </ul> <!-- / projects -->
    </div><!-- / container -->

</section>
<!-- / portfolio section -->

<!-- / content -->
