<%= form_for(property) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row input-wrapper">
    <div class="col-xs-12 col-sm-1">
      <%= f.label :title %>
    </div>
    <div class="col-xs-12 col-sm-11">
      <%= f.text_field :title %>
    </div>
    <div class="col-xs-12 col-sm-1">
      <%= f.label :address %>
    </div>
    <div class="col-xs-12 col-sm-11">
      <%= f.text_field :address %>
    </div>
    <div class="col-xs-12 col-sm-1">
      <%= f.label :available %>
    </div>
    <div class="col-xs-12 col-sm-11">
      <%= f.check_box :available %>
    </div>
    <div class="clearfix">

    </div>
    <div class="col-xs-12 col-sm-1">
      <%= f.label :features %>
    </div>
    <div class="col-xs-12 col-sm-11">
      <%= f.text_area :features %>
    </div>
    <div class="col-xs-12 col-sm-1">
      <%= f.label :rate %>
    </div>
    <div class="col-xs-12 col-sm-11">
      <%= f.text_field :rate %>
    </div>
    <div class="col-xs-12 col-sm-1">
      <%= f.label :pets %>
    </div>
    <div class="col-xs-12 col-sm-11">
      <%= f.text_field :pets %>
    </div>
    <div class="col-xs-12 col-sm-1">
      <%= f.label :directions %>
    </div>
    <div class="col-xs-12 col-sm-11">
      <%= f.text_area :directions %>
    </div>
</div>
<div class="row">
  <label>Images</label>
<%= f.file_field :image %>
<%= f.hidden_field :image_cache %>
</div>

<div class="row">
  <div class="actions">
    <a class='btn btn-success' >
      <%= f.submit %>
    </a>
  </div>
</div>

<% end %>
