<div clas="row">

<div class="site-width">

  <h1>Properties</h1>
  <%= link_to 'New Property', new_property_path, class: 'btn btn-primary new-item-btn' %>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Title</th>
        <th class="hidden-mobile" >Available</th>
        <th class="hidden-mobile">Rate</th>
        <th class="hidden-mobile">Features</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @properties.each do |property| %>
        <tr>
          <td><%= property.title %></td>
          <td class="hidden-mobile"><%= property.available %></td>
          <td class="hidden-mobile"><%= property.rate %></td>
          <td class="hidden-mobile"><%= property.features %></td>
          <td><%= link_to 'View', property, class: "btn btn-primary" %></td>
          <td><%= link_to 'Edit', edit_property_path(property), class: "btn btn-success" %></td>
          <td><%= link_to 'Delete', property, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Property', new_property_path, class: 'btn btn-primary' %>
</div>
</div>
