<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Available:</strong>
  <%= @property.available %>
</p>

<p>
  <strong>Features:</strong>
  <%= @property.features %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @property.rate %>
</p>

<p>
  <strong>Features:</strong>
  <%= @property.features %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @property.directions %>
</p>

<div class="row">
<% if !@property.images.empty? %>
  <% @property.images.each do |image| %>
    <div class="col-sm-4">
      <%= cl_image_tag image.image, class: 'img-thumbnail' %>
    </div>
  <% end %>
<% end %>
</div>

<%= link_to 'Edit', edit_property_path(@property), class: "btn btn-primary" %> |
<%= link_to 'Back', properties_path, class: "btn btn-primary" %>
