<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Available:</strong>
  <%= @property.available %>
</p>

<p>
  <strong>Features:</strong>
  <%= @property.features %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @property.rate %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @property.pets %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @property.directions %>
</p>

<%= link_to 'Edit', edit_property_path(@property), class: "btn btn-primary" %> |
<%= link_to 'Back', properties_path, class: "btn btn-primary" %>
