<div>
  <% flash.each do |key, value| %>
    <div>
        <p class="alert <%= @contact.deliver ? 'alert-success' : 'alert-danger' %>"><%= value %></p>
    </div>
  <% end %>
</div>
<!-- header-banner -->
<div id="header-banner" class="parallax" data-parallax="scroll" data-image-src="<%= asset_url 'mu-campus.jpg' %>">
    <div class="banner-content single-page text-center">
        <div class="banner-info">
            <h1>CONTACT US</h1>
            <p>Get in touch with us.</p>
        </div><!-- / banner-info -->
    </div><!-- / banner-content -->
</div>
<!-- / header-banner -->

<div id="page-content" class="container">
<div class="row">
  <div class="col-sm-4 contact-info text-center space-bottom">
      <div class="contact-icon">
          <i class="lnr lnr-envelope"></i>
      </div>
      <h5>EMAIL</h5>
      <p>Office: <a>amoore@ms-app.com</a></p>
  </div><!-- / contact-info -->
    <div class="col-sm-4 contact-info text-center space-bottom">
        <div class="contact-icon">
            <i class="lnr lnr-smartphone"></i>
        </div>
        <h5>PHONE</h5>
        <p>Office: <a href="tel:+5738195450">(573) 819-5450</a></p>
    </div><!-- / contact-info -->
    <div class="col-sm-4 contact-info text-center space-bottom">
        <div class="contact-icon">
            <i class="lnr lnr-printer"></i>
        </div>
        <h5>FAX</h5>
        <p>Office: <a>(573)-449-2791</a></p>
    </div><!-- / fcontact-info -->

</div><!-- / row -->

<div class="row contact-area">

  <div class="col-sm-6 hidden-mobile">
    <%= image_tag 'front.jpg', class: 'contact-img' %>
  </div>

    <div class="col-sm-6 contact-form-area">
      <h5 class="visible-mobile">Send us a message:</h5>
        <div id="contact-form">
          <%= simple_form_for @contact, :html => {:'data-toggle' =>  'validator', multipart: true } do |f| %>
            <div class="form-group">
              <%= f.input :name, required: true, label: false, placeholder: 'FULL NAME', :input_html => {class: 'form-control'} %>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <%= f.input :email, required: true, label: false, placeholder: 'EMAIL', :input_html => {class: 'form-control'} %>
              <% if @contact.errors %>
                <p style="color: red;"><%= @email_error %></p>
              <% end %>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
              <%= f.input :message, as: :text, required: true, label: false, placeholder: 'MESSAGE', :input_html => {class: 'form-control', rows: 5} %>
            <div class="help-block with-errors"></div>
            </div>
            <div class= "hidden">
              <%= f.input :nickname, :hint => 'Leave this field blank!' %>
            </div>
              <%= f.button :button, 'SUBMIT FORM', name: "commit", class: 'btn btn-md btn-primary-filled btn-form-submit' %>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
            <% end %>
        </div><!-- / contact form 1col -->
    </div><!-- / col-sm-6 -->
</div><!-- / contact-area -->

</div><!-- / container -->

<!-- / content -->
